.top_control 
{
     -webkit-box-flex: 1;
     -webkit-flex: 1;
     -moz-box-flex: 1;
     -ms-flex: 1;
     flex: 1;
     -webkit-box-flex: 9;
     -webkit-flex-grow: 9;
     -moz-box-flex: 9;
     -ms-flex-positive: 9;
     flex-grow: 9;
     margin: 16px 0;
     line-height: 125%;
}
h2
{
     color: black;
     float: left;
     padding: 8px 16px;
     text-decoration: none;
     transition: background-color .3s;
     border-bottom: 0.5px dashed #228B22;
 }
 ul.listNews.pagination.hidden-news-list {
    list-style-type: none;
}
#pagination {
    display: flex;
    justify-content: center;
    list-style: none; 
    padding: 10px; 
}
ul.listNews.pagination.hidden-news-list > li > a > div.listTxt > b::before {
    content: '\25B6';
    color: #0de72a; 
    display: inline-block;
    width: 2em; 
    margin-left: -1em; 
}

.page {
    display: none;
}

.active {
    display: block;
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
    cursor: pointer;
}
